<!DOCTYPE HTML>
<html>
	<head>
		<title>Readright</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/index">DyslexAI</a></h1>
						<nav >
							<a href="#menu">Menu</a>
							
					</nav>
					</header>	
				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							
							<ul class="links">
								<li><a href="/index">Home</a></li>
								<li><a href="/readtest">Reading Test</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>
					
					
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-file"></span></div>
							<h2>Read Right</h2>
							<p>An app to Diagnose Dyslexia</p>
							<p>On average, an adult can read somewhere between 200 to 300 words per minute. With speed reading skills, you can read much faster—around 1500 words per minute.</p>
							<ul class="actions">
								<li><a href="/test" class="button primary">Start Test!</a></li>
							</ul>
						</div>
					</section>



					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							
							<p></p>
							
						</div>
					</section>

			</div>

			


		<!-- Scripts -->
		    
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
	</body>
</html>