<!DOCTYPE HTML>
<html>

<head>
	<title>Result</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1><a href="/index">DyslexAI</a></h1>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>


		<!-- Wrapper -->
		<section id="wrapper">
			<!-- Content -->
			<div class="wrapper">
				<div class="inner">

					<h4>Scores</h4>
					<pre><code>
						<p>accuracy: <%= data.acc %></p>
						<p>score: <%= data.score %></p>
						<p>time: <%= data.tm %></p>
					</code></pre>
		</section>

		<section>

			<ul class="pagination">
				<li><a href="/test" class="button small">Retake Test</a></li>
			</ul>
		</section>

	</div>
	</div>
	</div>
	</section>





	</section>

	</div>

	<!-- Scripts -->
	<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>